Lists

In [1]:
a = [1, 4, 5, 7, 8, -2, 0, -1]

In [2]:
type(a)

list

In [3]:
print(a[2])

5

In [4]:
print(a[4])

8

In [5]:
a[4]

8

In [6]:
print(a)
a_sorted = sorted(a)
a_sorted.sort(reverse = True)
print(a_sorted)

[1, 4, 5, 7, 8, -2, 0, -1]
[8, 7, 5, 4, 1, 0, -1, -2]

In [7]:
a_sorted

[8, 7, 5, 4, 1, 0, -1, -2]

In [8]:
a_sorted[1:3]

[7, 5]

In [9]:
a_sorted[2:6]

[5, 4, 1, 0]

In [10]:
a_sorted

[8, 7, 5, 4, 1, 0, -1, -2]

In [11]:
a_sorted.index(5)

2

In [12]:
a_sorted.pop(2)

5

In [13]:
a_sorted.pop(3)

1

In [14]:
a_sorted

[8, 7, 4, 0, -1, -2]

In [15]:
b = ["grapes", "Potatoes", "tomatoes", "Orange", "Lemon", "Broccoli", "Carrot", "Sausages"]

In [16]:
b

['grapes',
 'Potatoes',
 'tomatoes',
 'Orange',
 'Lemon',
 'Broccoli',
 'Carrot',
 'Sausages']

In [17]:
type(b)

list

In [18]:
print(b)
b.sort
b_sorted = sorted(b)
print(b_sorted)

['grapes', 'Potatoes', 'tomatoes', 'Orange', 'Lemon', 'Broccoli', 'Carrot', 'Sausages']
['Broccoli', 'Carrot', 'Lemon', 'Orange', 'Potatoes', 'Sausages', 'grapes', 'tomatoes']

In [19]:
c = a[1:3]+b[4:6]
print(c)

[4, 5, 'Lemon', 'Broccoli']

Sets

In [20]:
a1 = ["Cookies", "Chocolate", 8, True, -3, -5, "Chocolate", 8, False, 8]
a1

['Cookies', 'Chocolate', 8, True, -3, -5, 'Chocolate', 8, False, 8]

In [21]:
b1 = [8, True, 10, 14,"Chocolate", "Milk", "Jelly", True, False, True]
b1

[8, True, 10, 14, 'Chocolate', 'Milk', 'Jelly', True, False, True]

In [22]:
set_a = set(a1)
set_a

{-3, -5, 8, 'Chocolate', 'Cookies', False, True}

In [23]:
type(set_a)

set

In [24]:
set_b = set(b1)
set_b

{10, 14, 8, 'Chocolate', False, 'Jelly', 'Milk', True}

In [25]:
type(set_b)

set

In [26]:
union_ab = set_a.union(set_b)
union_ab

{-3, -5, 10, 14, 8, 'Chocolate', 'Cookies', False, 'Jelly', 'Milk', True}

In [27]:
intersection_ab = set_a.intersection(set_b)
intersection_ab

{8, 'Chocolate', False, True}

In [28]:
union_ab.add("Kit-Kat")
union_ab

{-3,
 -5,
 10,
 14,
 8,
 'Chocolate',
 'Cookies',
 False,
 'Jelly',
 'Kit-Kat',
 'Milk',
 True}

In [29]:
union_ab.add("Oreo")
union_ab

{-3,
 -5,
 10,
 14,
 8,
 'Chocolate',
 'Cookies',
 False,
 'Jelly',
 'Kit-Kat',
 'Milk',
 'Oreo',
 True}

In [30]:
new_set = union_ab | intersection_ab
new_set

{-3,
 -5,
 10,
 14,
 8,
 'Chocolate',
 'Cookies',
 False,
 'Jelly',
 'Kit-Kat',
 'Milk',
 'Oreo',
 True}

In [31]:
"Chocolate" in new_set

True

In [32]:
new_set

{-3,
 -5,
 10,
 14,
 8,
 'Chocolate',
 'Cookies',
 False,
 'Jelly',
 'Kit-Kat',
 'Milk',
 'Oreo',
 True}

In [33]:
new_set.remove('Oreo')
new_set

{-3,
 -5,
 10,
 14,
 8,
 'Chocolate',
 'Cookies',
 False,
 'Jelly',
 'Kit-Kat',
 'Milk',
 True}

Tuples

In [81]:
t1 = (1, True, "a", -2, "Anna")

In [82]:
t1

(1, True, 'a', -2, 'Anna')

In [99]:
t_1 = list(t1)
t_1.pop(True)
t1 = tuple(t_1)
t_1

[1, -2, 'Anna']

In [84]:
t2 = (1, 2, 3, 4, 5)
t2

(1, 2, 3, 4, 5)

In [85]:
t3 = t1[:2] + t2[:3]
t3

(1, 'a', 1, 2, 3)

In [86]:
t3[2]

1

In [87]:
t4 = [(1,3,5), (8,9), ("Anna", "Bob", "Alice")]
t4

[(1, 3, 5), (8, 9), ('Anna', 'Bob', 'Alice')]

In [98]:
t4[0][1]

3